<h2>Product Form - FromBuilder</h2>
<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for=""> ProductId: </label>
            <input class="form-control" type="text" formControlName="productId">
        </div>

        <div class="form-group">
            <label for="">Brand: </label>
            <input class="form-control" type="text" formGroupName="brand">
        </div>

        <div class="form-group" formGroupName="description">
            <label for="">Age: <input class="form-control" type="text" formControlName="age"></label>
            <label for="">Seasons: <input class="form-control" class="form-control" type="text" formControlName="seasons"></label>
        </div>

        <div class="form-group">
            <label for="">Quantity: </label>
            <input class="form-control" type="text" formGroupName="quantity">
        </div>

        <div class="form-group">
            <label for="">Price: </label>
            <input class="form-control" type="text" formGroupName="price">
        </div>

        <div class="form-group" formArrayName="suppliers">
            <label for="">Suppliers: </label>
            <button (click)="addNewSupplier()">Add New Supplier</button>
            <div *ngFor="let supplier of suppliers.controls; let i=index">
                <label for="">New Supplier: <input class="form-control" type="text" [formControlName]="i"></label>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" [disabled]="!productForm.valid" required>Submit</button>
        </div>
    </form>
</div>