* {
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    margin: 25px;

    background-image: url(html_img2.jpg); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgb(20, 167, 174); */
    background-color: #61aaaa;

    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-style: normal;
}
h2{
    font: 18px ;
    color: black;
}
ol,ul{
    display: table;
    margin: auto;
}
.heading{
    background-color: rgb(231, 197, 153);
    opacity: 1.0;
}
.container{
    margin: 5px;
    padding: 10px;
    /* border: 1px solid black; */
    /* background-color: rgb(196, 202, 206); */
    display: grid;
    grid-row: 1fr;
    grid-gap: 10px 10px;
    visibility: hidden;
}

div > div{
    border: 0px solid black;
    border-radius: 2%;
    visibility: visible;
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
div:hover> div{
    opacity: 0.5; transform: scale(0.9);
}
div>div:hover{
    opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms;
}

.row1{
    /* background-color: rgb(205, 187, 190); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row1c1, .row1c2, .row1c3, .row1c4, .row1c5{
    /* background-color: rgb(206, 159, 163); */
    background-color: rgb(248, 169, 181);
    box-shadow: 0 5px 5px black;
}
.row2{
    /* background-color: rgb(212, 238, 229); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row2c1c{
    display: grid;
    grid-column: 1fr;
    grid-gap: 3px 3px;
}
.row2c1r1, .row2c1r2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    padding: 3px;
}
.row2c1, .row2c2, .row2c3, .row2c4, .row2c5{
    /* background-color: rgb(178, 209, 196); */
    background-color: rgb(207, 244, 232);
    box-shadow: 0 5px 5px black;
}

.row3{
    /* background-color: rgb(225, 216, 234); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row3c1, .row3c2, .row3c3, .row3c4, .row3c5{
    /* background-color: rgb(196, 178, 216); */
    background-color: rgb(210, 185, 231);
    box-shadow: 0 5px 5px black;
}

.row4{
    /* background-color: rgb(237, 202, 202); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row4c1, .row4c2, .row4c3, .row4c4, .row4c5{
    /* background-color: rgb(237, 129, 129); */
    background-color: rgb(247, 209, 209);
    box-shadow: 0 5px 5px black;
}

.row5{
    /* background-color: rgb(245, 212, 190); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row5c1, .row5c2, .row5c3, .row5c4, .row5c5{
    /* background-color: rgb(255, 196, 157); */
    background-color: rgb(247, 208, 185);
    box-shadow: 0 5px 5px black;
}

.row6{
    /* background-color: rgb(197, 197, 235); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row6c1, .row6c2, .row6c3, .row6c4, .row6c5{
    /* background-color: rgb(141, 141, 218); */
    background-color: rgb(208, 208, 255);
    box-shadow: 0 5px 5px black;
}

.row7{
    /* background-color: rgb(235, 201, 219); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row7c1, .row7c2, .row7c3, .row7c4, .row7c5{
    /* background-color: rgb(222, 139, 183); */
    background-color: rgb(245, 188, 241);
    box-shadow: 0 5px 5px black;
}

.row8{
    /* background-color: rgb(210, 240, 210); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 5px;
}
.row8c1, .row8c2, .row8c3, .row8c4, .row8c5{
    /* background-color: rgb(143, 232, 143); */
    background-color: rgb(193, 255, 193);
    box-shadow: 0 5px 5px black;
}