* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "heading heading heading"
    "nav main aside"
    "nav footer footer";
    grid-template-rows: 150px 1fr 70px;
    row-gap: 10px;
    column-gap: 10px;
    background-color: beige;
}

header{
    grid-area: heading;
    background-color: navy;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
nav{
    grid-area: nav;
    text-align: justify;
    background-color: bisque;
}
main{
    grid-area: main;
    text-align: justify;
    /* background-color:  bisque; */
}
aside{
    grid-area: aside;
    background-color:bisque;
}
footer{
    grid-area: footer;
    background-color: grey;
}
.p1{
    width: 100%;
}
@media screen and (max-width: 768px) {
    body{
        grid-template-columns: 1fr;
        display: inline-block;
    }
}