* {
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vw;
    font-size: 20px;
    margin: auto;
    overflow: hidden;
}
section{
    height: 50vw;
    display: grid;
    justify-content: center;
    align-content: center;
}
.container{
    place-self: initial;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9{
    border: 3px solid black;
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.cells{
    border: 1px solid black;
    text-align: center;
}