* {
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    font-size: 50px;
    text-align: center;
}
.contain{
    background-color: white;
    display: grid;
    margin: 100px;
    grid-row: 1fr 1fr;
    padding: 20px;
}
.r1, .r2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    grid-gap:40px;
    margin: 20px;
}
img{
    /* object-fit: fill; */
    aspect-ratio: 6/3;
    width: 100%;
    height: 100%;
}
/* .r1c1, .r2c1{
    background-color: red;
} */
/*.r1c2{
    background-color: green;
    text-align: right;
}
.r2c1{
    background-color: pink;
    align-content: flex-end;
}
.r2c2{
    background-color: yellow;
    text-align: right;
    align-content: flex-end;
} */
