<div class="container">
    <form >
      <h2>Login Form</h2>
      <label for="username">Username: 
        <input type="text" placeholder="Enter your Username">
      </label>
      <label for="password">Password: 
        <input type="password" placeholder="Enter your Password">
      </label>
      <div class="submit"><button type="submit" value="submit" (click)="submit()">Login</button></div>
    <button (click)="greet()">Greet</button>
    <button (click)="admin()">Admin</button>
    <button (click)="user()">User</button>
    </form>
</div>