<div class="container">
  <p>Parent Component! </p>
  <input type="text" (keydown)="keyCapture($event.key)">
  <h2>{{title}}</h2>
  <h2><button (click)="sendMessage()">Click</button></h2>
</div>
<div><app-color [title]="title">This is demostrating After Content Init</app-color></div>







<!-- <body>
  <div style="border: 2px solid rgb(14, 2, 2); background-color: rgb(28, 255, 8);"><app-test-observable></app-test-observable></div>
<div class="container" style="border: 3px solid navy;">
  <h2> Product Data </h2>
  <p> Product Id: {{productId}}</p>
  <p> Product Description: {{description}}</p>
  <p> Instock: {{available}}</p>
   <p> Qty: {{quantity}}</p>

  <p> Enter order quantity: 
    <input 
      type="text" 
      name="orderquantity" 
      id="" 
      [(ngModel)]="orderqty" 
      #inputQty>
    {{orderqty}}
  </p>

  <div [ngSwitch]="inputQty.value">
    <span *ngSwitchCase="201">..Quantity Not Available</span>
    <span *ngSwitchCase="200">..Exact Quantity Available</span>
    <span *ngSwitchCase="199">..Full Quantity Available</span>
    <span *ngSwitchDefault>Check your input..</span>
  </div>
  
   <p>Ordered quantity available: {{isorderQtyAvailable}}</p>
   <p> Delivery: <span [style.background-color]= "deliveryColor">&nbsp;&nbsp;&nbsp;&nbsp;</span></p>

   <div [innerHTML="isorderQtyAvailable"]></div>

   <p><button class="placeOrder" (click)="printOrder(inputQty)">PlaceOrder</button></p>

    <div *ngIf="quantity>=orderqty; else myTemplate">Ordered Quantity Available </div>
    <ng-template #myTemplate>Ordered Quantity Not Available</ng-template>

    <div>{{orderDate | date :"dd/MMMM/yyyy"}}</div>

    <div *ngFor="let product of products; index as i; even as isEven;">

   <span *ngIf="isEven; else myTemp" [style.background-color]="forEven">
    {{i}}
    {{product.productId}}
    {{product.description}}
    {{product.price}}
   </span>
   <ng-template #myTemp ><span [style.background-color]="forOdd">
      {{i}}
      {{product.productId}}
      {{product.description}}
      {{product.price}}
   </span></ng-template>
  </div>
</div>

<div id="colorForm" style="border: 2px solid brown;">
  <div id="top" [style.background-color]="topColor" ><input type="radio" name="color" value="orange" ></div>
  <div id="middle"><input type="radio" name="color" value="white"><img class="imgradio" src="flag_chakra.png" alt=""></div>
  <div id="bottom" [style.background-color]="bottomColor" ><input type="radio" name="color" value="green"></div>
</div>
 [style.background-color]="bottomColor"
<div style="border: 2px solid violet;background-color: bisque;"><app-color></app-color></div>
<div class="container2"><app-retrive-data></app-retrive-data></div>
<div class="container2"><app-data></app-data></div>
<div class="container2"><app-reactive></app-reactive></div>
<div class="container2"><app-form-builder></app-form-builder></div>
<div class="container2"><app-jwt-token></app-jwt-token></div>


<div><p>Indian Currency: {{r | currency: 'INR'}}</p>
<p>Percentage pipe: {{p | percent}}</p>
<p>Decimal pipe: {{d | number: '1.0-0'}}</p></div>
</body> -->
